

body {
	font-family: 'Roboto', sans-serif;
	background-color: #e6e6e6;
    width:535px;
    margin:0 auto;
 }

.openingParagraph {
    width: 150%;
    position: relative;
    right: 25%;
}

 .logoutButton {
  font-size: 14px;
  	display: inline-block;
  	padding: 0.3em 1.2em;
  	margin: 0 0.3em 0.3em 0;
  	border-radius: 2em;
  	box-sizing: border-box;
  	text-decoration: none;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
  	color: #FFFFFF;
  	background-color: #4eb5f1;
  	text-align: center;
  	transition: all 0.2s;
  	position: relative;
  	left: 470px;
  	bottom: 83px;
  }
  .logoutButton:hover {
  	background-color: #4095c6;
  }

	.buttons {
	font-size: 18px;
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	background-color: #4eb5f1;
	text-align: center;
	transition: all 0.2s;
}
.buttons:hover {
	background-color: #4095c6;
}








  }