<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Journal</title>
    <link rel="stylesheet" href="/css/standard.css">
</head>

<body>
<header class="img">
    <a href="index.html">
        <img alt="image didnt load" src="/images/journallogo.png" width="460" height="auto">
    </a>
    <a class="logoutButton" href="logout">Logout</a>
</header>
<nav>
    <a class="buttons" href="entries">Journal entries</a>
    <a class="buttons" href="add entry.html">Add an Entry</a>
    <a class="buttons" href="aa">Error Page</a>
</nav>

<img src="/images/prap4.jpg" alt="image didnt load">


</body>

</html>