<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Journal</title>
    <link rel="stylesheet" href="/css/loginPage.css">

</head>

<header>
    <a href="index.html">
        <img alt="image didnt load" src="/images/journallogo.png" width="460" height="auto">
    </a>
</header>

<body>


<br>


<div class="form-style-6">
    <img src="/images/pleaselogin.png" alt="image didnt load" width="300" height="auto">


    <div th:action="@{/login}" >
        <p th:if="${param.error}" class="alert-error" >
            Invalid username or password.
        </p>
    </div>


    <form method="post">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit" class="button">Login</button>
        <a class="button" href="/createNewUser">Register</a>
    </form>




</div>

</body>

</html>